.intro{
    text-align: center;
    color: blueviolet;
    font-size: larger;
}

.header{
    color: azure;
    margin-left: 50px;
    margin-bottom: 50px;
  }

a:link{
    color: azure;
}

a:visited{
    color: azure;
}

.body li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.documents{
color: aqua;
text-align: center;
font-size: large;
}

.home-htn{
    display: inline-block;
    padding: 10px 20px;
    background-color: orangered;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  
  .home-htn a:link{
    color: black;
  }
  
  .home-htn a:visited{
    color: black;
  }
  
  .home-htn:hover{
    background-color: chartreuse;
  }