.App{
    padding: 10px;
}

.header{
    color: aliceblue;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.intro{
    text-align: center;
    color: #8a2be2;
    font-size: larger;
    border: 2px solid orangered;
    border-radius: 15px;
    padding: 10px;
  }

.body a:link{
    color: azure;
}

.body a:visited{
    color: azure;
}

li{
    margin-top: 20px;
}

.home-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: orangered;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  
  .home-btn a:link{
    color: black;
  }
  
  .home-btn a:visited{
    color: black;
  }
  
  .home-btn:hover{
    background-color: chartreuse;
  }