.App{
  padding: 10px;
}

.intro{
  color: aquamarine;
  text-align: center;
  font-size: large;
  margin-top: 60px;
  border: 2px solid palegreen;
  padding: 5px;
  border-radius: 15px;
}

.header{
  color: azure;
  font-size: larger;
  text-align: center;
  font-weight: bolder;
}

.information-section{
  border-style: dashed;
  display: block;
  margin: auto;
  border-radius: 25px;
  margin-right: 150px;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-color: antiquewhite;
  padding: 10px;
  color: aqua;
  text-align: center;
  font-size: large;
}

.sectionheading{
  color: blueviolet;

}


.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.footer img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.footer img:hover {
  transform: scale(1.1);
}

.home-btn {
  margin-top: auto; 
  background-color: orangered;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-btn:hover {
  background-color: chartreuse;
}

.home-btn a:link{
  color: black;
}

.home-btn a:visited{
  color: black;
}