a:link{
  color: bisque;
}

a:visited{
  color: bisque;
}

.rearth {
  position: absolute;
  top: 0;
  left: 0;
  animation: horizontalRotation 4s linear infinite;
  width: 200px;
}

@keyframes horizontalRotation {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}

.header{
  margin-bottom: 55px;
}

.header h2{
text-align: center;
align-items: center;
justify-content: center;
}

.navbar {
background-color: black;
padding: 10px;
top: 0;
right: 0;
}

.nav-list {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: flex-end; 
align-items: center;
}

.right {
margin-left: 15px;
}

.design {
border: none;
outline: none;
background-color: rgb(97, 201, 201);
border-radius: 15px;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: lighter;
font-size: larger;
cursor: pointer;
}

.data-cards {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.box {
  border: 1px solid blueviolet;
  padding: 20px;
  width: 20%;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
}

.box h2 {
  color: aqua;
}

.box p {
  margin-bottom: 10px;
}

.imagecontainer{
  margin-top: 10px;
  text-align: center;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
   
  overflow: hidden;
}

.imagecontainer img {
  height: 400px; 
  max-width: 100%; 
  border-radius: 20px;
  padding: 10px;
  border: 1px solid blueviolet;
  margin: 10px auto; 
  text-align: center;
  cursor: pointer;  
  opacity: 0.5;
}

.slider{
  transition: transform 0.3s ease-in-out;
}

.slider img:hover {
  transform: scale(1.05);
  opacity: 1;
}

.navigation-buttons {
  text-align: center;
  margin-top: 10px;
}

.arrow {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: blueviolet;
  margin: 0 10px;
}

.left {
  margin-right: 20px;
}

.right {
  margin-left: 20px;
}

.data {
  font-style: italic;
  color: azure;
  text-align: center;
}

.sections section{
margin-top: 50px;
font-size: larger;
padding: 0px;
}

.pic{

border: none;
outline: none;
border-radius: 15px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
display: block;
height: 200px;
width: 300px;
box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
cursor: pointer;
transition: box-shadow 0.3s ease-in-out;
}

.pic:hover{
box-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
}

.graph_image{
  border: none;
  outline: none;
  border-radius: 15px;
  display: block;
  height: 200px;
  width: 250px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}

.datasection img:hover{
  transform: scale(1.5);
}

.contacts{
  margin-bottom: 20px;
  text-align: center;
}

.contacts table {
  width: 100%;
  border-collapse: collapse;
  color: aliceblue;
}

.contacts table, .contacts td, .contacts th {
  padding: 10px;
  border: none;
  text-align: right;
}

.contacts td, .contacts th{
  padding: 10px;
  text-align: center;
}

.footer p{
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer li {
  margin: 0;
}

.footer button {
  background-color: rgb(97, 201, 201);
  border: none;
  outline: none;
  border-radius: 15px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 5px 10px; 
}

.footer button:hover {
  background-color: rgb(77, 181, 181);
}

.footer-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  color: white;
  padding: 0px;
  overflow: hidden;
}

.number{
  color: aliceblue;
  font-size: larger;
}

.email{
  color: aliceblue;
  font-size: larger;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 100%;
}

.name{
  color: gold;
  font-size: x-large;
}

.form-para{
  color: chartreuse;
}

.contacts p{
  margin-right: 200px;
}

@media screen and (max-width: 768px) {

  .imagecontainer img {
    width: 75%; 
    max-width: none; 
    margin: 20px 10px; 
  }
  
  .footer button {
    font-size: smaller; 
    padding: 3px 5px; 
  }
  .box{
    width: 100%;
    margin-right: 0%;
  }

  .data-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .rearth {
    position: static;
    width: 100%;
    animation: horizontalRotation 4s linear infinite;;
  }

  .navbar {
    text-align: center;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .right {
    margin: 10px 0;
  }

  @keyframes horizontalRotation {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(-1);
    }
  }

  .footer-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

@media screen and (max-width: 500px) {
  .text-overlay {
    position: static;
    transform: none;
    background: none;
  }
  
  .contacts, .form-para, .header-buttons {
    margin-top: 20px;
  }
  
  .footer-video {
   display: none;
  }
  
  .name, .number, .email {
    font-size: 10px; 
  }

  .footer{
    background-color:black;
  }

}

@media (max-width: 580px) and (min-width: 501px) {
  .text-overlay {
    position: static;
    transform: none;
    background: none;
    padding: 0; 
  }

  .footer-video {
    display: none;
  }

  .footer{
    background-color:black;
  }

  .name, .number, .email {
    font-size: medium; 
  }
}